.app {
  text-align: center;
  background-color: #e7dfd5;
}

.app img {
  height: 100px;
}

.app__form {
  position: fixed;
  bottom: 20px;
  z-index: 1;
  background-color: #e8e8e8;
  width: 93%;
  margin: 20px;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__input {
  flex: 0.95;
  margin: 25px;
}

.app__iconButton {
  flex: 0;
}